* {
  font-family: "Girassol", cursive !important;
}
body {
  width: 100%;
  height: 100%;
}
.contain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.done {
  width: 100px;
  height: 100px;
  position: relative;
  left: 0;
  right: 0;
  top: -20px;
  margin: auto;
}
.contain h1 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.4em;
  color: #ff652f;
}

.congrats {
  position: relative;
  left: 50%;
  top: 50%;
  max-width: 800px;
  transform: translate(-50%, -50%);
  width: 80%;
  min-height: 300px;
  max-height: 900px;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.3);
  background-image: linear-gradient(to bottom right, #02b3e4, #02ccba);
  background: #fff;
  text-align: center;
  font-size: 2em;
  color: #ff652f;
  height: 445px;
}

.text {
  position: relative;
  font-weight: normal;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  max-width: 800px;

  font-family: "Lato", sans-serif;
  font-size: 0.6em;
}
