* {
  font-family: "Girassol", cursive !important;
}
.container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
.nav-title {
  display: flex;
  justify-content: space-around;
}
.nav-title h1 {
  font-family: "Girassol", cursive;
  color: #ff652f;
  letter-spacing: 20px;
  font-size: 70px;
}
.container-form {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  padding: 80px;
  border-radius: 15px;
}
.container-form form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.container-form form input {
  width: 334px;
  height: 44px;
  border: none;
  padding-left: 20px;
  margin-bottom: 17px;
  border-radius: 15px 50px;
  font-size: 17px;
}

.container-form form button {
  width: 10%;
  height: 36px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: black;
  font-size: 17px;
  min-width: 130px;
  margin-left: 27%;
}
.error {
  color: red;
  letter-spacing: 5px;
}
.container-form::-webkit-input-placeholder {
  color: red;
}
