.container {
  margin: 0 auto;
  min-width: 990px;
}
.navigation-bar {
  display: flex;
  justify-content: space-between;
  font-family: "Girassol", cursive;
}
.bar_button button {
  margin-top: 5px;
  background-color: #ff652f;
  border-color: #ff652f;
}
.bar_button button:hover {
  background-color: #49ff05;
  border-color: #49ff05;
}
.container-form {
  text-align: center;
  justify-content: space-around;
  overflow: hidden;
}
.container-form form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}
.btn-group {
  width: 100%;
  margin-top: 6%;
  margin-bottom: 5%;
}
.btn-group button {
  background-color: #ff652f;
  border-color: #ff652f;
  color: black;
  font-family: "Girassol", cursive;
  padding-bottom: 4%;
  padding-top: 4%;
  font-size: 20px;
  letter-spacing: 5px;
}
.btn-group button:hover {
  background-color: #49ff05;
  border-color: #49ff05;
  color: dimgray;
}
.tempform {
  display: none;
}
.title_div h1 {
  color: #ff652f;
}
.btn-group button:disabled {
  background-color: orange;
  border-color: orange;
  color: dimgray;
}
.postform input {
  font-size: 15px;
  border: transparent;
  padding-left: 20px !important;
}
.postform button {
  border: transparent;
  border-radius: 10px;
  width: 30%;
  margin-left: 33%;
}
